<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
</head>
<body>
    <!-- Header Banner -->
    <table width="100%" border="2" cellpadding="0" cellspacing="0" bgcolor="#003300">
        <tr>
            <td align="center">
                <table width="98%" border="0" cellpadding="15">
                    <tr>
                        <td align="center">
                            <font face="Arial" size="5" color="#00ff00">
                                <b>{{ site.title | upcase }}</b>
                            </font><br>
                            <font face="Courier New" size="3" color="#00cc00">
                                <i>{{ site.description }}</i>
                            </font>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <!-- Main Layout Table -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <!-- Left Sidebar -->
            <td width="220" valign="top" bgcolor="#001100">
                <table width="100%" border="2" cellpadding="8" cellspacing="0" bgcolor="#002200">
                    <tr>
                        <td>
                            <center>
                                <font color="#00ff00" size="3"><b>NAVIGATION</b></font>
                            </center>
                            <hr>
                            
                            <p>▸ <a href="{{ '/' | relative_url }}">{% if page.url == '/' or page.url == '/index.html' %}<b>HOME</b>{% else %}HOME{% endif %}</a></p>
                            <p>▸ <a href="{{ '/blog.html' | relative_url }}">{% if page.url == '/blog.html' %}<b>Blog</b>{% else %}Blog{% endif %}</a></p>
                            <p>▸ <a href="{{ '/projects.html' | relative_url }}">{% if page.url == '/projects.html' %}<b>Projects</b>{% else %}Projects{% endif %}</a></p>
                            <p>▸ <a href="{{ '/about.html' | relative_url }}">{% if page.url == '/about.html' %}<b>About Me</b>{% else %}About Me{% endif %}</a></p>
                            <p>▸ <a href="{{ '/links.html' | relative_url }}">{% if page.url == '/links.html' %}<b>Links</b>{% else %}Links{% endif %}</a></p>
                            
                            <hr>
                            
                            <center>
                                <font color="#00ff00" size="3"><b>CONTACT</b></font>
                            </center>
                            <hr>
                            
                            <p>Email: <a href="mailto:{{ site.email }}">Send Mail</a></p>
                            <p>GitHub: <a href="https://github.com/{{ site.github_username }}">Profile</a></p>
                            <p>RSS: <a href="{{ '/feed.xml' | relative_url }}">Subscribe</a></p>
                            
                            <hr>
                            
                            <center>
                                <font color="#00ff00" size="3"><b>INFO</b></font>
                            </center>
                            <hr>
                            
                            <p class="small">
                                <b>Site Status:</b><br>
                                <font color="#00ff00">ONLINE</font><br><br>
                                <b>Last Update:</b><br>
                                {{ site.time | date: "%b %d, %Y" }}<br><br>
                                <b>Built with:</b><br>
                                Jekyll + HTML/CSS<br><br>
                            </p>
                            
                            <hr>
                            
                            <center>
                                <p class="small">
                                    Best viewed in<br>
                                    <b>800x600</b><br>
                                    or higher
                                </p>
                            </center>
                        </td>
                    </tr>
                </table>
            </td>

            <!-- Main Content Area -->
            <td valign="top" bgcolor="#000000">
                <table width="98%" border="0" cellpadding="15" cellspacing="10">
                    <tr>
                        <td>
                            {{ content }}
                            
                            <br>
                            
                            <!-- Footer -->
                            <table width="100%" border="2" cellpadding="10" cellspacing="0" bgcolor="#002200">
                                <tr>
                                    <td align="center">
                                        <font size="2" color="#009900">
                                            <i>"Simple is better than complex"</i><br><br>
                                            No Cookies | No Tracking | No Ads<br>
                                            Just Pure Content<br><br>
                                            <b>{{ site.time | date: "%Y" }} {{ site.author }}</b><br>
                                            Made with HTML and CSS
                                        </font>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <!-- Bottom Marquee -->
    <marquee behavior="scroll" direction="left" scrollamount="3" bgcolor="#003300">
        <font color="#00ff00" size="3">
            <b>Welcome to my personal website | Thanks for visiting | Check out the blog</b>
        </font>
    </marquee>
</body>
</html>
